<table id="results">
  <tr>
    <td>
      <img src="<%= @user_1.gravatar_id %>">
      <div class="username"><%= h @user_1.username %></div>
      <div class="name"><%= h @user_1.name %></div>
    </td>
    <td class="vertical-separator"></td>
    <td>
      <img src="<%= @user_2.gravatar_id %>">
      <div class="username"><%= h @user_2.username %></div>
      <div class="name"><%= h @user_2.name %></div>
    </td>
  </tr>

  <% GitFight::STATS_ATTRS.each_pair do |method, description|
    %>
    <tr class="<%= method %>">
      <td class="<%= GitFight::User.is_user_winner?(@user_1, @user_2, method) ? 'local-winner' : 'local-loser' %>">
        <div class="number"><%= number @user_1.send(method) %></div>
        <%= description %></div>
        <% if method == :score && @user_1_winner_overall %>
          <div class="winner">WINNER</div>
        <% end %>
      </td>
      <td class="vertical-separator"></td>
      <td class="<%= GitFight::User.is_user_winner?(@user_2, @user_1, method) ? 'local-winner' : 'local-loser' %>">
        <div class="number"><%= number @user_2.send(method) %></div>
        <%= description %></div>
        <% if method == :score && @user_2_winner_overall %>
          <div class="winner">WINNER</div>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<p><a href="/" id="new_fight">New Fight!</a></p>
<p>Link to this result: <%= h request_url %></p>
   <!--<br><span class="un">Embed your score in your site.</span> -->